body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 70px;
}
h1{
    font-size: 40px;
}
.name-hl{
    color: cornflowerblue;
}
.p1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.p1 img{
    width: 70%;
    margin-left: 5%; 
    
}
.top-bg{
    background-image: url(images/top-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #2525f0, #9f9fff);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image:url(images/bf1.png);

}
.sigg{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;
    
}
.ex-area{
    background-image: url(images/bg3.png);
    background-repeat: no-repeat;
    background-position:top;
    
}
#box{
    border-left: 7px solid;
    border-image: linear-gradient(#8484ee, blue) ;
    border-image-slice: 1;
}
#box2{
    border-right: 7px solid;
    border-image: linear-gradient(#f3a81d, rgb(245, 111, 2)) ;
    border-image-slice: 1;

}
footer p{
    text-align: center;
    
}